home/.emacs.d/el-get/
home/.emacs.d/init.el
home/.emacs.d/url/
home/.emacs~
home/.emacs.d/auto-save-list/
home/.emacs.d/.mc-lists.el
home/.emacs.d/.org-id-locations
*~
home/.emacs.d/eshell/
home/.emacs.d/tramp
